{% extends 'base.html' %}

{% block content %}
<section>
  <h2>Overview</h2>

  <p>The <a href="https://developers.google.com/analytics/solutions/google-analytics-spreadsheet-add-on">Google Analytics Spreadsheet Add-on</a> makes it easier for Google Analytics users to access, visualize, share, and manipulate their data in Google Spreadsheets. The add-on gives you the full power of the Google Analytics <a href="https://developers.google.com/analytics/devguides/reporting/">Core and Multi-Channel Funnels Reporting APIs</a> without requiring you to know or write any code.</p>

  <figure class="Screenshot">
    <a href="{{ project.external.url }}">
      <img
        srcset="/public/images/screenshots/spreadsheet-add-on-2x.png 2x"
        src="/public/images/screenshots/spreadsheet-add-on.png">
    </a>
    <figcaption>A Google Analytics Spreadsheet Add-on report.</figcaption>
  </figure>

  <p>With this tool, you can:</p>

  <ul>
    <li>Query data from multiple views.</li>
    <li>Create custom calculations from your report data.</li>
    <li>Create visualizations with the built-in visualization tools, and embed those visualizations on third-party websites.</li>
    <li>Schedule your reports to run and update automatically.</li>
    <li>Easily control who can see your data and visualizations by leveraging Google Spreadsheet's existing sharing and privacy features.</li>
  </ul>

  <h2>Learn More</h2>

  <p>To start using the Google Analytics Spreadsheet add-on you can simply download it from the <a href="{{ project.external.url }}">Chrome Web Store</a> and try adding it to one of your spreadsheets today.</p>

  <p>If you have questions, check out the <a href="https://developers.google.com/analytics/solutions/google-analytics-spreadsheet-add-on">solution guide</a> which explains how to install and use the add-on and goes over each option in detail.</p>

</section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a> and the <a href="{{ site.tech.mcf_reporting_api.url }}">{{ site.tech.mcf_reporting_api.name }}</a> to query for data and create the reports. It uses the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> to get a list of accounts the current user can access, and it uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to populate the items in the dimensions and metrics dropdowns.
{% endblock %}
