{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "babel"
  ],
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    // TODO(philipwalton): it looks like some ES2016+ feature are not
    // compatible with the eslint babel parser, so temporarily disabling the
    // following jsdoc rules.
    "valid-jsdoc": [1, {
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "requireReturn": false,
      "prefer": {"returns": "return"},
    }],
    "require-jsdoc": [1, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
      },
    }],
     // React and jQuery use `this`
    "no-invalid-this": 0,
    // Unset rules conflicting with babel
    "generator-star-spacing": 0,
    // react
    "react/jsx-key": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/prefer-es6-class": [2, "always"],
    // babel
    "babel/generator-star-spacing": [2, "after"]
  }
}
