{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "babel"
  ],
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    // TODO(philipwalton): remove the following two rules once #31 is added:
    // https://github.com/google/eslint-config-google/pull/31
    "valid-jsdoc": [2, {
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "requireReturn": false,
      "prefer": {"returns": "return"},
    }],
    "camelcase": [2, {"properties": "never"}],
    // React and jQuery use `this`
    "no-invalid-this": 0,
    // Unset rules conflicting with babel
    "generator-star-spacing": 0,
    // react
    "react/jsx-key": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/prefer-es6-class": [2, "always"],
    // babel
    "babel/generator-star-spacing": [2, "after"]
  }
}
