{% extends 'user-auth.html' %}

{% block content %}
<section>
  <p>This tools allows you to construct and validate <a
  href="https://developers.google.com/analytics/devguides/collection/protocol/">
  Measurement Protocol</a> hits using the <a
  href="{{ site.tech.measurement_protocol_validation_server.url }}">
  {{ site.tech.measurement_protocol_validation_server.name }}</a>.</p>

  <p>To get started, use the controls below to construct a new hit or paste
  an existing hit into the text box in the hit summary.</p>

  <div id="hit-builder"></div>

  <h3>References</h3>
  <p>Click the info link to the right of each parameter in the details section
  to go directly to its documentation. For general references, refer to the
  links below:</p>
  <ul>
    <li><a href="{{ site.links.devsite }}/devguides/collection/protocol/v1/parameters">Parameter reference</a></li>
    <li><a href="{{ site.links.devsite }}/devguides/collection/protocol/v1/devguide#commonhits">Examples of common hits</a></li>
  </ul>
</section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} tools uses the <a
  href="{{ site.tech.measurement_protocol_validation_server.url }}">
  {{ site.tech.measurement_protocol_validation_server.name }}</a> to validate
  Measurement Protocol hits. It also uses the <a
  href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}
  </a> to get the list of the current user's tracking IDs.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/hit-builder.js"></script>
{% endblock %}
