html {
  background: #f4f2f0;
}
body {
  color: #222;
  font: 12px/1.4 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
body * {
  /* Needed to override some Google Chart styles. */
  font-family: inherit!important;
}
section {
  overflow: hidden;
}
ul {
  list-style: square;
  margin: 0;
  padding: 0 0 0 1.5em;
}
i {
  display: inline-block;
  font: inherit;
}
a {
  color: #f05721;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * Hero Component
 */
.Hero {
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  font-kerning: auto;
  line-height: 1;
  padding: 3em 2em 4em;
  text-align: center;
  width: 100%;
}
.Hero-title {
  font-size: 6em;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin: 0 0 .2em;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
}
.Hero-subtitle {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0;
  opacity: 0.6;
}

/**
 * Partition Component
 */
.Partition {
  background-color: transparent;
}
.Partition:nth-child(2n) {
  background-color: #fff;
}
.Partition-content {
  font-size: 1.25em;
  margin: 0px auto;
  max-width: 60em;
  padding: 3em 2em;
}
.Partition h2 {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 1em;
  text-align: center;
}

/**
 * Demos
 */

.Demos {
  margin-left: -3em;
  overflow: hidden;
}
.Demos-column {
  box-sizing: border-box;
  margin-bottom: -2em;
  padding-left: 3em;
}
@media (min-width: 40em) {
  .Demos-column {
    float: left;
    width: 50%;
  }
}
.Demos h3 {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 .667em;
}
.Demos a {
  color: inherit;
  display: block;
  margin: 0 0 2em;
  text-decoration: none;
}
.Demos a h3 {
  color: #f05721;
}
.Demos a:hover h3 {
  text-decoration: underline;
}
.Demos p {
  font-size: .9em;
  margin: 0;
}

/**
 * Next Steps Component
 */

.NextSteps {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.NextSteps li {
  line-height: 1.5;
}
@media (min-width: 48em) {
  .NextSteps li {
    border-left: 1px solid #aaa;
    display: inline-block;
    line-height: 1.5;
    padding: 0 1em;
  }
  .NextSteps li:first-child {
    border: 0;
  }
}

/**
 * Banner Component
 */

.Banner {
  background-color: #333;
  box-sizing: border-box;
  color: #eee;
  display: table;
  margin-bottom: 1.5em;
  padding: 1.2em 1.5em;
  width: 100%;
}
.Banner-title {
  display: table-cell;
  font-size: 1.667em;
  font-weight: 400;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}
.Banner-title a {
  color: inherit;
}
.Banner-title em {
  font-weight: 300;
  font-size: .8em;
  font-style: normal;
  margin-left: .5em;
  opacity: .6;
}
.Banner-auth {
  color: #ccc;
  display: table-cell;
  font-size: 1.1em;
  vertical-align: middle;
  white-space: nowrap;
}

/**
 * Base Component
 */

.Component {
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  float: left;
  margin: 0 0 1.5em 1.5em;
  padding: 1.5em;
}
.is-authorized .Component {
  display: block;
}

/**
 * Chart Component
 */

.Chart {}
.Chart-title {
  font: 300 1.4em/1.2 sans-serif;
  margin: 0;
}
.Chart-subtitle {
  font: 700 1.17em/1.2 sans-serif;
  margin: 0.5em 0 0;
}
.Chart-controls {
  border-top: 1px solid #ccc;
  margin: 0 -1.5em -1.5em;
  padding: 1.5em;
  text-align: center;
}
.Chart--chartjs {
  padding: 2em;
}
.Chart--chartjs .Chart-title {
  font: 700 1.17em/1.2 sans-serif;
  margin-bottom: 1.7em;
  text-align: center;
}

/**
 * Legend Component
 */

.Legend {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Legend > li {
  display: inline-block;
  padding: 1em 1em 0 0;
}
.Legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}

/**
 * Viewpicker Component
 */

.Viewpicker {}
.Viewpicker-item  {
  display: inline-block;
  margin-right: 1em;
}
.Viewpicker-item:last-child {
  margin-right: 0;
}
.Viewpicker-item > label {
  font-weight: bold;
  margin-right: 0.25em;
}
.Viewpicker-item select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 34px;
  line-height: 20px;
  padding: 6px 12px;
}
.Viewpicker-item select:focus {
  border-color: #4d90fe;
  outline: 0;
}


/**
 * Button component
 */

.Button {
  border: 1px solid #2F5BB7;
  border-radius: 2px;
  background: #498cf6;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  margin-left: 1em;
  min-width: 72px;
  padding: 6px 12px;
}
.Button:focus {
  box-shadow: inset 0 0 0 1px #FFF;
  outline: none;
}

/**
 * Datepicker Component
 */

.Datepicker {}
.Datepicker-item {
  display: inline-block;
  margin-right: 1em;
}
.Datepicker-item:last-child {
  margin-right: 0;
}
.Datepicker-item label {
  font-weight: bold;
}
.Datepicker-item input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  height: 34px;
  line-height: 20px;
  margin-right: 1em;
  padding: 6px;

}
.Datepicker-item input:focus {
  border-color: #4d90fe;
  outline: 0;
}


/**
 * Instructions Component
 */

.Instructions {
  align-items: center;
  clear: left;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  margin: 0 0 1.5em 1.5em;
  padding: 1.5em;
}
.Instructions > h2 {
  font: 300 1.4em/1.2 sans-serif;
  margin: 0 0 1em;
}
.Instructions ul li {
  margin-bottom: .5em;
}
.is-authorized .Instructions {
  display: block;
}

/**
 * SourceLink Component
 */
.SourceLink {
  clear: both;
  display: none;
  padding: 0 1.5em 1.5em;
  white-space: nowrap;
}
.is-authorized .SourceLink,
.ga-embed-authorized .SourceLink {
  display: block;
}

/**
 * Realtime Component
 */

.Realtime {
}
.Realtime-content {
  font-size: 20px;
  font-weight: 100;
  line-height: 34px;
  margin: 0 .25em;
}
.Realtime-value {
  font-weight: 700;
}
.Realtime.increase {
  -webkit-animation: increase 3s;
  animation: increase 3s;
}
.Realtime.decrease {
  -webkit-animation: decrease 3s;
  animation: decrease 3s;
}
@-webkit-keyframes increase {
  0% {}
  10% {
    background-color: hsl(120, 100%, 96%);
    border-color: hsla(120, 100%, 25%, .5);
    color: hsla(120, 100%, 25%, 1);
  }
  100% {}
}
@keyframes increase {
  0% {}
  10% {
    background-color: hsl(120, 100%, 96%);
    border-color: hsla(120, 100%, 25%, .5);
    color: hsla(120, 100%, 25%, 1);
  }
  100% {}
}
@-webkit-keyframes decrease {
  0% {}
  10% {
    background-color: hsl(0, 100%, 96%);
    border-color: hsla(0, 100%, 50%, .5);
    color: hsl(0, 100%, 50%);
  }
  100% {}
}
@keyframes decrease {
  0% {}
  10% {
    background-color: hsl(0, 100%, 96%);
    border-color: hsla(0, 100%, 50%, .5);
    color: hsl(0, 100%, 50%);
  }
  100% {}
}
