{% extends 'user-auth.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
  <p>Sometimes you just need to explore. This tool lets you play with the <a href="{{site.tech.core_reporting_api.url}}">Core Reporting API</a> by building queries to get data from your Google Analytics views (profiles). You can use these queries in any of the client libraries to build your own tools.</p>
</section>

<div id="query-explorer"></div>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}'s</a> <code>ViewSelector</code> and <code>DataChart</code> components to select the user's view and query the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a>. It also uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to populate the items in the dimensions and metrics dropdowns and the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> to get a list the current user's segments.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="/public/javascript/query-explorer.js"></script>

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
