<!DOCTYPE html>
<html>
<head>
	<title>Sending you back to Demos & Tools</title>

	<script>
		((function() {
			var parent = window.opener;
			if(parent) {
				var oauth_token = {{ site.token | default(None) | tojson | safe }};
				var oauth_state = {{ site.state | default(None) | tojson | safe }};
				var oauth_error = {{ site.error | default(None) | tojson | safe }};

				parent.postMessage({
					error: oauth_error,
					token: oauth_token,
					state: oauth_state,
				}, window.location.origin);
				window.setTimeout(function() { window.close(); }, 1000);
			} else {
				document.body.append("This page is an automated oauth handler. Please don't visit it manually.");
			}
		})());
	</script>
</head>
<body>
	{{ body }}
</body>
</html>
