<!DOCTYPE html>
<html>
<head>
	<title>Sending you back to Demos & Tools</title>

	<script>
		window.addEventListener("load", function() {
			var parent = window.opener;
			if(parent) {
				var oauth_token = {{ site.token | tojson | safe }};
				var oauth_state = {{ site.state | tojson | safe }};
				var oauth_error = {{ site.error | tojson | safe }};

				parent.postMessage({
					error: oauth_error,
					token: oauth_token,
					state: oauth_state,
				}, window.location.origin);
				// We put this here as a sanity check, but the
				window.setTimeout(function() { window.close(); }, 1000);
			} else {
				document.getElementById('automation-warning').innerText =
					"This page is an automated oauth handler. " +
					"Please don't visit it manually.";
			}
		});
	</script>
</head>
<body>
	<div id="automation-warning">
	</div>
</body>
</html>
