.dme-group {
	margin-top: 10px;
}

.dme-group-header {
	display: flex;
	font-size: 1.25em;
	font-weight: bold;
}

.dme-group-collapse {
	height: 24px;
	width: 24px;
	margin-right: 10px;
	display : flex;
	justify-items: center;
	align-items: center;
}

.dme-group-list {
	margin-left: 34px;
	display: flex;
}

@media (max-width: 1024px) {
	.dme-group-list {
		flex-direction: column;
	}
}

@media (min-width: 1024px) {
	.dme-group-list {
		flex-direction: row;
	}
}

.dme-group-list-subgroup {
	margin-top:0.5em;
	flex: 1;
	margin-right: 1em;
}

.dme-group-list-subgroup-header {
	font-weight: bold;
}

.dme-selectable-column {
	margin: .3em 0em .8em;
	display: flex;
	flex-direction: row;
}

.dme-selectable-column-deprecated {
	text-decoration: line-through;
}

input.dme-selectable-column-deprecated {
	visibility: hidden;
}

.dme-selectable-column-disabled {
	color: #bdbdbd !important;
}

.dme-selectable-column-detail {
	margin-left: 1em;
}

.dme-selectable-column-checkbox {
	margin-top: 3pt;
}

.dme-selectable-column-description {
	margin-bottom: 0.3em;
}
