.HitBuilderParams {
  transition: opacity .2s var(--quantum-timing);
}

.is-editing .HitBuilderParams {
  opacity: .4;
  pointer-events: none;
}

.HitBuilderParam--items {
  width: 100%;
}

.HitBuilderParam--items > .Button {
  margin-bottom: 1em;
  float: right;
}

.HitBuilderParam--item > .HitBuilderParam > .HitBuilderParam-label {
  flex: 0 0 3em;
}
