{% extends 'base.html' %}

{% block content %}

<section>
  <h2>Overview</h2>

  <p>The <a href="https://developers.google.com/analytics/devguides/reporting/embed/">Google Analytics Embed API</a> is a JavaScript library that allows you to easily create and embed a dashboard on a third-party website in a matter of minutes. It gives you a set of <a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/component-reference">pluggable components</a> that can work together to build complex tools, making it both simple and powerful at the same time.</p>

  <figure class="Screenshot">
    <img
      srcset="/public/images/screenshots/embed-api-2x.png 2x"
      src="/public/images/screenshots/embed-api.png">
    <figcaption>A dashboard built with the Embed API.</figcaption>
  </figure>

  <h2>Demos</h2>

  <p>The demos on this site showcase many of the things that are possible with the Embed API. Each demo builds on top of ideas presented in the previous one, so you should check them out in order.</p>

  <ol class="FlexGrid FlexGrid--halves">
    {% for pg in project.pages %}
      <li class="FlexGrid-item">
        <h3><a href="{{ pg.path }}">{{ loop.index }}. {{ pg.title }}</a></h3>
        <p>{{ pg.excerpt | striptags }}</p>
      </li>
    {% endfor %}
  </ol>

  <p>Code samples are included to help you get started, but feel free to view the page source or check out the <a href="{{ site.links.github }}">code on Github</a>.</p>

</section>

{% endblock %}
