{% extends 'embed-api/demo.html' %}

{% block content %}

<section>
  <h2>Demo Overview</h2>
  <p>{{ page.excerpt }}</p>
  <p>Use the view selector below to see this comparison for any of your Google Analytics views.</p>
</section>

<ul class="FlexGrid">
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Top Countries by Sessions</h3>
        <div class="Titles-sub">Last 30 days</div>
      </header>
      <div id="chart-1-container"></div>
      <div class="ViewSelector" id="view-selector-1-container"></div>
    </div>
  </li>
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Top Countries by Sessions</h3>
        <div class="Titles-sub">Last 30 days</div>
      </header>
      <div id="chart-2-container"></div>
      <div class="ViewSelector" id="view-selector-2-container"></div>
    </div>
  </li>
</ul>

<section>
<h2>How it works</h2>

<p>You can recreate the demo above by copy and pasting the following code into an HTML file running on a web server. Feel free to add some CSS to spice it up a bit!</p>

<p>If you want to know more, check out the <a href="https://developers.google.com/analytics/devguides/reporting/embed/">Embed API documentation</a> on our developers site.</p>

<h3>Step 1: Load the Embed API library.</h3>

<pre>
{%- filter forceescape -%}
<script>
{% include 'embed-api/code/_snippet.js' %}
</script>
{%- endfilter -%}
</pre>

<h3>Step 2: Add HTML containers to host the dashboard components.</h3>

<pre>
{%- filter forceescape -%}
<div id="embed-api-auth-container"></div>
<div id="chart-1-container"></div>
<div id="chart-2-container"></div>
<div id="view-selector-1-container"></div>
<div id="view-selector-2-container"></div>
{%- endfilter -%}
</pre>

<h3>Step 3: Write the dashboard code.</h3>

<pre>
{%- filter forceescape -%}
<script>

{% include 'embed-api/code/_multiple-views.js' %}
</script>
{%- endfilter -%}
</pre>
</section>

{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script>
{% include 'embed-api/code/_multiple-views.js' %}
</script>
{% endblock %}
