{% extends 'server-auth.html' %}

{% block content %}
<section>
  <h2>Demo Overview</h2>
  <p>{{ page.excerpt | safe }}</p>
  <p>The charts below show usage data for the site you're visiting now, <a href="/">Google Analytics Demos & Tools</a>. Notice how you do not have to be logged in to see this data!</p>
</section>

<ul class="FlexGrid">
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Site Traffic</h3>
        <div class="Titles-sub">Sessions vs. Users - last 30 days</div>
      </header>
      <figure id="chart-1-container"></figure>
    </div>
  </li>
  <li class="FlexGrid-item">
    <div class="Dashboard Dashboard--full">
      <header class="Titles">
        <h3 class="Titles-main">Most Popular Demos/Tools</h3>
        <div class="Titles-sub">Pageviews - last 30 days</div>
      </header>
      <figure id="chart-2-container"></figure>
    </div>
  </li>
</ul>

<section>
<h2>How it works</h2>

<p>You can recreate the demo above by following the instructions and using the code below. If you want to know more, check out the <a href="https://developers.google.com/analytics/devguides/reporting/embed/">Embed API documentation</a> on our developers site.</p>

<h3>Step 1: Create a service account and download the JSON key</h3>

<p>Follow the steps in the Google Identity Platform documentation to <a href="https://developers.google.com/identity/protocols/OAuth2ServiceAccount#creatinganaccount">create a service account</a> from the <a href="https://console.developers.google.com/">Google Developer Console</a>.</p>

<p>Once the service account is created, you can click the <strong>Generate New JSON Key</strong> button to create and download the key and add it to your project.</p>

<p class="Message"><strong>Important!</strong>&nbsp; Make sure to store your JSON key file privately and securely. Do not check it in to a public repository or store it on a public server.</p>

<h3>Step 2: Add the service account as a user in Google Analytics</h3>

<p>The service account you created in the previous step has an email address that you can add to any of the Google Analytics views you'd like to request data from. It's generally best to only grant the service account read-only access.</p>

<h3>Step 3: Use the JSON key data to request an access token</h3>

<p>The following python script uses the <code>oauth2client</code> module that comes with the <a href="{{ site.tech.api_client_library_python.url }}">{{ site.tech.api_client_library_python.name }}</a> to extract OAuth2 credentials from the JSON key file and use those credentials to request an access token.</p>

<p>You can install the {{ site.tech.api_client_library_python.name }} using <a href="http://pypi.python.org/pypi/pip">pip</a> by running the following command:</p>

<pre>sudo pip install --upgrade google-api-python-client</pre>

<p>Once the library is installed you can add the following python module to your project and invoke the <code>get_access_token()</code> method to get an access token that you can use to authorize the Embed API.</p>

<pre>
{%- filter forceescape -%}
# service-account.py

from oauth2client.service_account import ServiceAccountCredentials

# The scope for the OAuth2 request.
SCOPE = 'https://www.googleapis.com/auth/analytics.readonly'

# The location of the key file with the key data.
KEY_FILEPATH = 'path/to/json-key.json'

# Defines a method to get an access token from the ServiceAccount object.
def get_access_token():
  return ServiceAccountCredentials.from_json_keyfile_name(
      KEY_FILEPATH, SCOPE).get_access_token().access_token
{%- endfilter -%}
</pre>


<h3>Step 4: Load the Embed API library.</h3>

<pre>
{%- filter forceescape -%}
<script>
{% include 'embed-api/code/_snippet.js' %}
</script>
{%- endfilter -%}
</pre>

<h3>Step 5: Add HTML containers to host the dashboard components.</h3>

<pre>
{%- filter forceescape -%}
<div id="chart-1-container"></div>
<div id="chart-2-container"></div>
{%- endfilter -%}
</pre>

<h3>Step 6: Write the dashboard code.</h3>

<p>Use the access token obtained in step 3 to authorize the Embed API.</p>

<p class="Message"><strong>Important!</strong>&nbsp; When you add an access token to the source code of your page, your site's visitors could use that access token to run any query the service account could run. If your account contains sensitive information, considering adding the service account only to a specific view. You may also want to add a <a href="https://support.google.com/analytics/answer/1033162?hl=en">view filter</a> to limit what data the service account can access.</p>

<pre>
{%- filter forceescape -%}
<script>

{% include 'embed-api/code/_server-side-authorization.js' %}
</script>
{%- endfilter -%}
</pre>

</section>
{% endblock %}

{% block tech_content %}
  The {{ page.title }} demo uses the <code>DataChart</code> component of the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}</a>, which queries the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a> behind the scenes.
{% endblock %}
{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/embed-api.js"></script>
<script>
{% include 'embed-api/code/_server-side-authorization.js' %}
</script>
{% endblock %}
