{% extends 'user-auth.html' %}

{% block content %}
<div id="usage-trends"></div>

<section>
  <h2>About this tool</h2>
  <p>Google Analytics is good at showing you raw numbers and letting you see how those numbers break down across all the dimensions you care about. However, it can sometimes be difficult to visualize how those numbers are <em>trending</em> over time.</p>
  <p>Usage Trends is tool that makes it easier to visualize trends in your Google Analytics data. It does this by displaying your dimensions <em>as a percentage of the total</em> rather than just as raw numbers, which is critical when traffic fluctuates.</p>
  <p>This tool helps you answer questions like:</p>
  <ul>
    <li><strong>Is my mobile usage growing faster than my desktop usage?</strong></li>
    <li><strong>Is the usage of legacy browsers/platforms trending down or staying constant?</strong></li>
    <li><strong>Is traffic from other countries increasing? If so, how quickly?</strong></li>
  </ul>
  <p>Looking at raw numbers is interesting, but looking at trends is actionable. Trends tell you how to plan for the future and make sure you're ready for it.</p>
</section>

<section>
  <h2>Frequently asked questions</h2>
  <p>
    <b>Can I use custom dimensions and metrics in a trend report?</b><br>
    Yes! Just make sure you've selected the property where you've defined the custom dimension or metric.
  </p>
  <p>
    <b>Why are some metrics (e.g. <i>Bounce Rate</i>) missing from the list?</b><br>
    Usage Trends converts metric totals into percentages of those totals broken down by dimension. Metrics like <i>Bounce Rate</i> that are derived from other metrics (e.g. <i>Bounces</i> / <i>Sessions</i>) are excluded because they wouldn't make sense in a trend report.
  </p>
  <p>
    <b>Why do the results sometimes add up to more than 100%?</b><br>
    Not all dimensions and metrics can be meaningfully queried together. For example, the <i>User Type</i> dimension is a session-level dimension (since a user can be a "New Visitor" one session and a "Returning Visitor" the next). If you try to create a trend report for the <i>User Type</i> dimension with the <i>Users</i> metric, you'll get unexpected results since some users will be counted twice.
  </p>
</section>
{% endblock %}

{% block tech_content %}
  {{ project.title }} uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to populate the items in the dimensions and metrics dropdown. It uses the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> to populate the account tree in the view selector as well as the view-specific custom dimensions and metrics. And it uses the <a href="{{ site.tech.analytics_reporting_api_v4.url }}">{{ site.tech.analytics_reporting_api_v4.name }}</a> to query your analytics data and generate the trend report.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/usage-trends.js"></script>
{% endblock %}
