.productBox {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--space-3xl);
}

.container {
  padding: var(--size-gutter-raw);
}

.header {
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin-bottom: var(--space-xl);
  line-height: var(--dense);
}

.productDescription {
  font-size: var(--text-prose);
}

.productImageWrapper {
  position: relative;
  padding-bottom: var(--space-2xl);
}

.productImageList {
  display: flex;
  overflow-x: auto;
}

.productImageListItem {
  display: flex;
  flex: 0 0 100%;
  white-space: nowrap;
}

.scrollForMore {
  text-align: center;
  margin-top: 1rem;
  display: none;
  font-size: var(--text-lg);
  left: 50%;
  position: absolute;
}

.noImagePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  font-size: var(--text-lg);
}

.priceValue > span {
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  color: var(--primary);
}

.priceValue {
  padding: var(--space-lg) 0;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.optionsWrapper {
  display: grid;
  grid-template-columns: var(--product-grid);
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.addToCartStyle {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--space-lg);
}

.selectVariant {
  background-color: var(--input-background);
  border-radius: var(--radius-md);
  cursor: pointer;
  margin-top: var(--space-md);
  min-width: 24ch;
  position: relative;
}

.selectVariant select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--input-text);
  cursor: inherit;
  font-size: var(--text-md);
  font-weight: var(--medium);
  height: var(--size-input);
  margin: 0;
  padding: var(--space-sm) var(--space-lg);
  padding-right: var(--space-2xl);
  width: 100%;
}

.selectVariant::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='8' viewBox='0 0 13 8' width='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.87794 7.56356c-.19939.23023-.55654.23024-.75593 0l-5.400738-6.23623c-.280438-.32383-.050412-.82733.377968-.82733h10.80146c.4284 0 .6584.5035.378.82733z' fill='%2378757a'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  height: 8px;
  position: absolute;
  right: var(--space-lg);
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  pointer-events: none;
}

.labelFont {
  font-size: var(--space-lg);
  line-height: var(--space-xl);
  padding-right: var(--space-md);
  color: var(--text-color-secondary);
}

.tagList a {
  font-weight: var(--semibold);
  color: var(--text-color-secondary);
  padding-right: var(--space-md);
}

.tagList a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.breadcrumb {
  color: var(--text-color-secondary);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.breadcrumb a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.metaSection {
  padding-top: var(--space-3xl);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
}

@media (min-width: 640px) {
  .productBox {
    grid-template-columns: 1fr 2fr;
  }
  .addToCartStyle {
    grid-template-columns: min-content max-content;
  }
}

@media (min-width: 1024px) {
  .productBox {
    grid-template-columns: repeat(2, 1fr);
  }
}