.title {
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin: 0;
  padding: var(--space-2xl) 0 var(--space-2xl);
}

.table {
  flex: 1;
  max-width: 1024px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr min-content;
  gap: var(--space-md) var(--space-2xl);
}

.table th {
  text-align: left;
  text-transform: uppercase;
  font-size: var(--text-xs);
  padding-bottom: var(--space-2xl);
}

.table tr,
.table thead,
.table tbody {
  display: contents;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--size-gutter-raw);
}

.totals,
.table th.totals {
  text-align: right;
}

.summary {
  font-weight: var(--semibold);
  font-size: var(--text-lg);
}

.grandTotal {
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
}

.checkoutButton {
  align-items: center;
  background: var(--primary);
  border-radius: var(--radius-md);
  color: var(--text-color-inverted);
  display: flex;
  font-size: var(--text-md);
  font-weight: var(--semibold);
  height: var(--size-input);
  justify-content: center;
  line-height: var(--solid);
  margin: var(--space-3xl) auto var(--space-md);
  padding: var(--space-sm) var(--space-xl);
  width: max-content;
  transition: var(--transition);
}

.checkoutButton:hover {
  box-shadow: var(--shadow);
}

/* Apply only to first of class */
.summary td {
  padding-top: var(--space-3xl);
}

.summary ~ .summary td {
  padding-top: 0;
}

.summary .labelColumn {
  grid-column-start: 1;
  grid-column-end: 2;
}

.summary .totals {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grandTotal .labelColumn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.collapseColumn {
  display: none;
}

.productHeader {
  grid-column-start: 1;
  grid-column-end: 3;
}

.imageHeader {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
}

.emptyStateContainer {
  text-align: center;
  max-width: 48ch;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emptyStateHeading {
  color: var(--text-color);
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin-bottom: var(--space-lg);
}

.emptyStateLink {
  display: inline-block;
  color: var(--primary);
  font-weight: var(--bold);
  margin-top: var(--space-xl);
  font-size: var(--text-xl);
}

@media (min-width: 640px) {
  .summary .labelColumn,
  .summary .totals,
  .grandTotal .labelColumn {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .collapseColumn {
    display: block;
  }

  .table {
    grid-template-columns: 80px 1fr repeat(3, min-content);
  }
}

@media (min-width: 1024px) {
  .table {
    grid-template-columns: max-content 1fr repeat(3, max-content);
  }
}