.Error {
  background: hsl(0, 100%, 98%);
  border: 1px solid hsla(0, 70%, 55%, .5);
  border-radius: 4px;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 2em 0px;
  padding: 1em 1.5em;
}

.Error-title {
  color: hsl(0, 70%, 55%);
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 0 .5em 0 0;
}

.Error-message {
  display: inline-block;
  margin: 0;
}
