:root {
  --ProgressBar-interval: 2s;
  --ProgressBar-bgColor: hsl(215, 100%, 90%);
  --ProgressBar-color: hsl(215, 100%, 60%);
  --ProgressBar-sizeRatio: .6;
}


.ProgressBar {
  background: var(--ProgressBar-bgColor);
  overflow: hidden;
  position: relative;
}

.ProgressBar::after,
.ProgressBar::before {
  background: linear-gradient(to right, var(--ProgressBar-bgColor),
                                        var(--ProgressBar-color) 10%,
                                        var(--ProgressBar-color));
  content: '';
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  width: calc(100% * var(--ProgressBar-sizeRatio));
}

.ProgressBar::before {
  animation: ProgressBar-leader
             var(--ProgressBar-interval)
             ease-in-out
             infinite;

}

.ProgressBar::after {
  animation: ProgressBar-follower
             var(--ProgressBar-interval)
             ease-in-out
             calc(var(--ProgressBar-interval) * .5)
             infinite;
}


@keyframes ProgressBar-leader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));
  }
}

@keyframes ProgressBar-follower {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));;
  }
  100% {
    transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));;
  }
}
