.S2Tag {
  line-height: 1.2;
}

.S2Tag-category {
  color: #bbb;
  float: right;
  font-size: .6em;
  font-weight: 700;
  letter-spacing: .1em;
  margin: .1em 0;
  text-transform: uppercase;
}

.S2Tag-content {
  font-weight: 600;
}

.S2Tag-extra {
  color: #777;
  font-size: .8em;
  font-weight: 300;
  margin-top: .15em;
  word-wrap: break-word;
}
