{% extends 'base.html' %}

{% block content %}
<section>
  <p>The {{ project.title }} lists and describes all of the dimensions and metrics available through the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a>.</p>
  <p>The {{ project.title }} has the following features:</p>
  <p><strong>Explore all of the dimensions and metrics</strong> – Search or browse by group. Select a dimension or metric for additional details such as descriptions and attributes.</p>
  <p><strong>Identify valid combinations</strong> – Not all dimensions and metrics can be queried together. Only certain dimensions and metrics can be used together to create valid combinations. Select a dimension or metric checkbox to see all the other values that can be combined in the same query.</p>

  <div id="dimensions-metrics-explorer"></div>

<section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to dynamically populate the list of all valid dimensions and metrics.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/dimensions-metrics-explorer.js"></script>
{% endblock %}
