{% extends 'server-auth.html' %}

{% block head_scripts %}
{{ super() }}

<script>
  // This script is designed to detect an old-style URL fragment- which was
  // used by the old dimensions and metrics explorer- and immediately convert
  // it to the present style. This ensures that old links that redirect here
  // continue to work.
  //
  // The fragment, if present, is of the form:
  // "view=detail&group=traffic_sources&jump=ga_keyword"
  // We want to extract the "jump" key, and convert it to the form
  // used by the new dimensions and metrics explorer (which right now
  // means just replacing ga_thing with ga:thing)
  //
  // Example:
  //
  // #view=detail&group=traffic_sources&jump=ga_keyword
  //
  // becomes:
  //
  // #ga:keyword
  (function() {
    var hash = window.location.hash.replace(/^#/, "");
    var keyedHash = new URLSearchParams(hash);

    // Look for the keys; this tells us that this is an old-style URL
    if(keyedHash.get("view") === "detail") {
      // If we have view=detail, we definitely want to rewrite the fragment,
      // either to "nothing" or to the correct column
      var targetColumn = keyedHash.get("jump");
      var newHash = targetColumn ? targetColumn.replace(/^ga_/, "ga:") : "";
      window.location.hash = newHash;
    }
  })();
</script>

{% endblock %}

{% block content %}
<section>
  <p>The {{ project.title }} lists and describes all of the dimensions and metrics available through the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a>.</p>
  <p>The {{ project.title }} has the following features:</p>
  <p><strong>Explore all of the dimensions and metrics</strong> – Search or browse by group. Select a dimension or metric for additional details such as descriptions and attributes.</p>
  <p><strong>Identify valid combinations</strong> – Not all dimensions and metrics can be queried together. Only certain dimensions and metrics can be used together to create valid combinations. Select a dimension or metric checkbox to see all the other values that can be combined in the same query.</p>

  <div id="dimensions-metrics-explorer"></div>

<section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to dynamically populate the list of all valid dimensions and metrics.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/dimensions-metrics-explorer.js"></script>
{% endblock %}
