{% extends 'base.html' %}

{% block content %}

<section>
  <h2>Overview</h2>

  <p>The <a href="{{ project.external.url }}">Enhanced Ecommerce Demo Store</a> is a sample ecommerce application with a complete implementation of <a href="https://support.google.com/analytics/answer/6014841">Enhanced Ecommerce</a>. Use this demo to understand how the Enhanced Ecommerce code works, and what is required to implement it on your own site.</p>
  <figure class="Screenshot">
    <a href="{{ project.external.url }}">
      <img
        srcset="/public/images/screenshots/enhanced-ecommerce-2x.png 2x"
        src="/public/images/screenshots/enhanced-ecommerce.png">
    </a>
    <figcaption>A screenshot from the Enhanced Ecommerce demo.</figcaption>
  </figure>

 <p>Every action in this demo comes with code samples showing exactly how the feature is implemented. The samples include code for both <a href="https://developers.google.com/tag-manager/enhanced-ecommerce">Google Tag Manager</a> and the <a href="{{ site.tech.ecjs.url }}">{{ site.tech.ecjs.name }}</a> plugin for <a href="{{ site.tech.analyticsjs.url }}">{{ site.tech.analyticsjs.name }}</a>.</p>

  <p>Here's an example "Add to cart" code snippet for GTM:</p>

<pre>
// The GTM code.
dataLayer.push({
  "event": "addToCart",
  "ecommerce": {
    "currencyCode": "USD",
    "add": {
      "products": [{
        "id": "57b9d",
        "name": "Kiosk T-Shirt",
        "price": "55.00",
        "brand": "Kiosk",
        "category": "T-Shirts",
        "variant": "red",
        "dimension1": "M",
        "quantity": 1
      }]
    }
  }
});
</pre>

<p>And the corresponding ec.js version:</p>

<pre>
// The ec.js code.
ga("create", "UA-XXXXX-Y");
ga("require", "ec");
ga("ec:addProduct", {
  "id": "57b9d",
  "name": "Kiosk T-Shirt",
  "price": "55.00",
  "brand": "Kiosk",
  "category": "T-Shirts",
  "variant": "red",
  "dimension1": "M",
  "quantity": 1
});
ga("ec:setAction", "add");
ga("send", "event", "detail view", "click", "addToCart");
</pre>

  <p>The demo doesn't just show samples, it's actually sending real data to Google Analytics. If you'd like to inspect the hits, just open up the developer tools or use the <a href="https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofjcijamephohjechhna">Google Analytics Debugger</a> to see what's going on.<p>
<section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} demo uses <a href="{{ site.tech.analyticsjs.url }}">{{ site.tech.analyticsjs.name }}</a> and the <a href="{{ site.tech.ecjs.url }}">{{ site.tech.ecjs.name }}</a> plugin for analytics.js to send data to Google Analytics.
{% endblock %}


