{% extends 'user-auth.html' %}

{% block content %}
<section>
  <p>This tools allows you to construct and validate <a
  href="https://developers.google.com/analytics/devguides/collection/protocol/ga4">
    Measurement Protocol</a> events using the <a
                                                href="https://developers.google.com/analytics/devguides/collection/protocol/ga4/validating-events?client_type=gtag">
    Measurement Protocol Validation Server</a>.</p>

  <p>To get started, use the controls below to construct a new event.</p>

  <div id="aw-event-builder"></div>

</section>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} tools uses the <a
  href="https://developers.google.com/analytics/devguides/collection/protocol/ga4/validating-events?client_type=gtag">
  Measurement Procotol Validtion Server</a> to validate
  Measurement Protocol hits.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/aw-event-builder.js"></script>
{% endblock %}
