<header class="Header" id="header">

  <div class="Header-block">
    <span class="Header-menu" id="header-menu">
      <span class="Header-menuIcon">
        <svg class="Icon" viewBox="0 0 24 24">
          <use xlink:href="/public/images/icons.svg#icon-menu"></use>
        </svg>
      </span>
    </span>

    {% include '_logo.html' %}

    {% if auth == 'user' %}
      <div class="Header-user" id="header-user">
        <span class="Header-userIcon">
          <svg class="Icon" viewBox="0 0 24 24">
            <use xlink:href="/public/images/icons.svg#icon-person"></use>
          </svg>
        </span>
      </div>
    {% endif %}

    <div class="u-hidden u-lg-block">
      {% include '_titles.html' %}
    </div>

  </div>

  {% if auth == 'user' %}
    <aside class="Header-auth" id="header-auth">
      <div
        class="Header-embedApi"
        id="embed-api-auth-container"
        ga-on="click"
        ga-event-category="User"
        ga-event-label="auth"
        ga-event-action="signin">
      </div>
      <button
        class="Header-signOut LinkButton"
        id="header-sign-out"
        ga-on="click"
        ga-event-category="User"
        ga-event-label="auth"
        ga-event-action="signout">
        Sign Out
      </button>
    </aside>
  {% endif %}

</header>
