<nav class="Nav">

  <section class="Nav-section">
    <h1 class="Nav-category">Demos &amp; Tools</h1>
    <ol>
      {% for pr in site.projects %}
        <li>
          <a class="Nav-link{% if page.path == pr.path %} Nav-link--selected{% endif %}"
             href="{{ pr.path }}">{{ pr.title }}
             {% if pr.status %}
               <span class="Nav-status">{{ pr.status }}</span>
             {% endif %}
          </a>
          {% if pr.pages %}
            <ol>
              {% for pg in pr.pages %}
                <li>
                  <a class="Nav-link  Nav-link--nested{% if page.path == pg.path %} Nav-link--selected{% endif %}"
                     href="{{ pg.path }}">{{ pg.title }}
                     {% if pg.status %}
                       <span class="Nav-status">{{ pg.status }}</span>
                     {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </section>

  <section class="Nav-section">
    <h1 class="Nav-category">Resources</h1>
    <ol>
      <li><a class="Nav-link" href="/#about">About this Site</a></li>
      <li><a class="Nav-link" href="/#help">Help & Feedback</a></li>
    </ol>
  </section>

</nav>
