<header class="NavHeader">
  <a class="NavHeader-homeLink" href="{{ site.path }}">
    <span class="NavHeader-homeIcon">
      <svg class="Icon" viewBox="0 0 24 24">
        <use xlink:href="/public/images/icons.svg#icon-home"></use>
      </svg>
    </span>
    <h1 class="NavHeader-title">Home</h1>
  </a>
  <span class="NavHeader-controls" id="sidebar-close">
    <span class="NavHeader-controlsIcon">
      <svg class="Icon" viewBox="0 0 24 24">
        <use xlink:href="/public/images/icons.svg#icon-arrow-back"></use>
      </svg>
    </span>
  </span>
</header>
