<!DOCTYPE html>
<html>
<head>

  {%- if not title and not subtitle -%}
    {% set subtitle = page.title %}
  {%- endif -%}

  {%- if not title -%}
    {% set title = project.title %}
  {%- endif -%}

  {%- if not auth -%}
    {% set auth = None %}
  {%- endif -%}

  {% include '_head.html' %}

  {% block head_scripts %}
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;</script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  {% endblock %}
</head>
<body class="Site {{ initial_state }}">

  <aside class="Site-sidebar" id="sidebar">
    {% include '_nav-header.html' %}
    {% include '_nav.html' %}
  </aside>

  {##
   # TODO(philipwalton): the statement below is needed due to a bug in Jinja.
   # For whatever reason if the 'title and 'subtitle' variables aren't
   # referenced in the base template, they don't work in includes.
   #}

  {% if title and subtitle %}{% endif %}

  <main class="Site-main">
    {% include '_header.html' %}
    <div class="Content">
      <div class="u-lg-hidden">
        {% include '_titles.html' %}
      </div>

      {% block content %}{% endblock %}

      {% block tech %}
        {% if project.tech or page.tech %}
          <aside id="tech-info" class="TechInfo">
            <svg class="TechInfo-icon" viewBox="0 0 24 24">
              <use xlink:href="/public/images/icons.svg#icon-info-outline"></use>
            </svg>
            <div class="TechInfo-content">
              <h1 class="TechInfo-title">Google Analytics technology used in this {{ project.type }}</h1>
              {% block tech_content %}{% endblock %}
            </div>
          </aside>
        {% endif %}
      {% endblock %}

    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  {% block foot_scripts %}
    <script src="/public/javascript/app.js"></script>
  {% endblock %}

</body>
</html>
