{% extends 'base.html' %}

{% set title = 'Discover the Google Analytics platform' %}

{% block content %}
<section>

  <p class="u-spaceDouble">
    <img width="600" alt="Google Analytics Developers Image"
      srcset="/public/images/google-analytics-partners-2x.png 2x"
      src="/public/images/google-analytics-partners.png">
  </p>

  <h2 id="about">About this Site</h2>

  <p><b>{{ site.title }}</b> is a resource for users and developers to discover what's possible with the Google Analytics Platform. Learn how to implement GA and applications that can be built to take advantage of the flexibility and power of Google Analytics.</p>

  <p>The code for this entire site is open source and <a href="{{ site.links.github }}">available on GitHub</a>. We encourage you to take a look if you'd like to see how anything is done.</p>

  <h3>Demos</h3>
  <p>Live demos to help you learn about Google Analytics features.</p>
  <ul>
    <li>Working demos with actual data sent to Google Analytics.</li>
    <li>Use these demos as a reference for your own implementation.</li>
    <li>Interactive elements that provide implementation code snippets.</li>
  </ul>

  <h3>Tools</h3>
  <p>Tools to showcase how Google Analytics can be extended with custom solutions.</p>
  <ul>
    <li>Tools are targeted at real-world use cases and solutions.</li>
    <li>Access advanced Google Analytics features without writing any code.</li>
    <li>All publicly available technologies are used. Nothing proprietary.</li>
  </ul>

  <h2 id="help">Help & Feedback</h2>

  <h3>For this site</h3>

  <ul>
    <li>You may report bugs by <a href="{{ site.links.github }}/issues/new">submitting an issue</a> on Github.</li>
    <li>You may also use Github to <a href="{{ site.links.github }}/issues/new">request a new demo or tool</a>.</li>
  </ul>

  <h3>For the Google Analytics platform</h3>

  <ul>
    <li>Documentation for all Google Analytics API, libraries and SDKs can be found on <a href="{{ site.links.devsite }}">Google Analytics Developers</a>.</li>
    <li>If you have questions, please refer to the <a href="{{ site.links.devsite }}/help/">getting help</a> section of the developers site to find the best place to get your questions answered.</li>
  </ul>

</section>

{% endblock %}
