{% extends 'base.html' %}

{% block head_scripts %}

{{ super() }}

<script>

(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));

gapi.analytics.ready(function() {

  document.body.classList.add('is-authorizing');

  function setAuthorizedState() {
    document.body.classList.remove('is-needingAuthorization');
    document.body.classList.remove('is-authorizing');
    document.body.classList.add('is-authorized');
    gapi.analytics.auth.off('error', setNeedsAuthorizingState)
  }

  function setNeedsAuthorizingState() {
    document.body.classList.add('is-needingAuthorization');
  }

  gapi.analytics.auth.on('success', setAuthorizedState);
  gapi.analytics.auth.once('error', setNeedsAuthorizingState);

  // Authorize this user with the client ID in sitemap.yaml
  gapi.analytics.auth.authorize({
    {% if project.scopes -%}
      scopes: ['{{ project.scopes | join("','") | safe }}'],
    {%- endif %}
    container: 'embed-api-auth-container',
    userInfoLabel: '',
    clientid: '{{ site.client_id }}',
  });
});

</script>
{% endblock %}
