{% set auth = 'user' %}
{% set initial_state = 'is-loading' %}

{% extends 'base.html' %}

{% block head_scripts %}

{{ super() }}

<script>

// Adds a progress bar if the page doesn't load after 1s.
setTimeout(function() {
  var progressBar = document.createElement('div');
  progressBar.className = 'ProgressBar Header-progressIndicator';
  document.getElementById('header').appendChild(progressBar);
}, 1000);

{% include 'embed-api/code/_snippet.js' %}

gapi.analytics.ready(function() {

  function setSignedInState() {
    document.body.classList.remove('is-needingAuthorization');
    document.body.classList.add('is-authorized');
  }

  function setSignedOutState() {
    document.body.classList.remove('is-authorized');
    document.body.classList.add('is-needingAuthorization');
  }

  function setNeedsAuthorizingState() {
    document.body.classList.add('is-needingAuthorization');
  }

  gapi.analytics.auth.on('signIn', setSignedInState);
  gapi.analytics.auth.on('signOut', setSignedOutState);
  gapi.analytics.auth.once('needsAuthorization', setNeedsAuthorizingState);
  gapi.analytics.auth.once('error', setNeedsAuthorizingState);

  // Authorize this user with the client ID in sitemap.yaml
  gapi.analytics.auth.authorize({
    {% if project.scopes -%}
      scopes: ['{{ project.scopes | join("','") | safe }}'],
    {%- endif %}
    container: 'embed-api-auth-container',
    userInfoLabel: '',
    clientid: '{{ site.client_id }}',
  });
});

</script>
{% endblock %}
