{% extends 'user-auth.html' %}

{% block content %}
<section>
  <h2>Overview</h2>
  <p>
    The purpose of the Request Composer is to illustrate a small subset of the <a href="{{site.tech.reporting_api_v4.url}}">{{site.tech.reporting_api_v4.name}}</a> features.
  </p>
  <ul>
    <li><a href="{{site.tech.reporting_api_v4.url}}/basics#histogram_buckets">Histogram buckets</a></li>
    <li><a href="{{site.tech.reporting_api_v4.url}}/advanced#pivots">Pivot requests</a></li>
    <li><a href="{{site.tech.reporting_api_v4.url}}/advanced#cohorts">Cohort requests</a></li>
  </ul>
  <p>
    To simplify the processing of the API responses, this tool applies some additional
    limitations on the requests that can be made. For full specifications of the API
    see the
    <a href="{{site.tech.reporting_api_v4.url}}/rest/v4/reports/batchGet">reference documentation</a>.
    There are other features of the Analytics Reporting API V4, such as 
    <a href="{{site.tech.reporting_api_v4.url}}/basics#expressions">metric expression</a>,
    <a href="{{site.tech.reporting_api_v4.url}}/basics#multiple_date_ranges">multiple date ranges</a>, and
    <a href="{{site.tech.reporting_api_v4.url}}/basics#filtering_1">advanced filter configuration</a>
    which are not demonstrated with the current version of the Request Composer,
    however we accept
    <a href="{{ site.links.github }}/blob/master/CONTRIBUTING.md">pull requests</a>.
  </p>
  <p>
</section>

<div id="request-composer"></div>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}'s</a> <code>ViewSelector</code> to select the user's view.It also uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to populate the items in the dimensions and metrics dropdowns.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="/public/javascript/request-composer.js"></script>

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
