{% extends 'user-auth.html' %}

{% block content %}
<section>
  <p>
    Request Composer demonstrates how to compose the following <a href="{{site.tech.analytics_reporting_api_v4.url}}">{{site.tech.analytics_reporting_api_v4.name}}</a> requests and visualize their responses.
  </p>
  <ul>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}basics#histogram_buckets">Histogram request</a></li>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}advanced#pivots">Pivot request</a></li>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}advanced#cohorts">Cohort request</a></li>
  </ul>
  <p>
    This version of Request Composer does not support the following features:
  </p>
  <ul>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}basics#expressions">metric expressions</a></li>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}basics#multiple_date_ranges">multiple date ranges</a></li>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}basics#segments">advanced segment configuration</a></li>
    <li><a href="{{site.tech.analytics_reporting_api_v4.url}}basics#filtering_1">advanced filter configuration</a></li>
  </ul>
  <p>
    To compose a request:
  </p>
  <ol>
    <li>Select a request type (<b>Histogram</b>, <b>Pivot</b>, or <b>Cohort</b>).</li>
    <li>Select an account, a property, and a view.</li>
    <li>Set query parameters.</li>
    <li>Click <b>Make Request</b>.</li>
  </ol>
</section>

<div id="request-composer"></div>
{% endblock %}

{% block tech_content %}
  The {{ project.title }} uses the <a href="{{ site.tech.embed_api.url }}">{{ site.tech.embed_api.name }}'s</a> <code>ViewSelector</code> to select the user's view. It also uses the <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to populate the items in the dimensions and metrics dropdowns. Lastly, it uses the <a href="{{ site.tech.analytics_reporting_api_v4.url }}">{{ site.tech.analytics_reporting_api_v4.name }}</a> to make the request.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="/public/javascript/request-composer.js"></script>

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
