---
layout: default
---

<header class="Hero">
  <img src="{{ site.path }}/assets/images/ga-logo.png">
  <h1 class="Hero-title">Embed API</h1>
  <p class="Hero-subtitle">Demos and Sample Code</p>
</header>

<main>

  <section class="Partition">
    <div class="Partition-content">
      <h2>Overview</h2>

      <p>The <a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/">Google Analytics Embed API</a> is a JavaScript library that allows you to easily create and embed a dashboard on a third-party website in a matter of minutes. It gives you a set of <a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/component-reference">pluggable components</a> that can work together to build complex tools, making it both simple and powerful at the same time.</p>

      <p>This site showcases many of the things that are possible with the Embed API. Each demo builds on ideas presented in the previous demo, so you should check them out in order. If you're curious how anything is done, just view the page source or check out the <a href="https://github.com/googleanalytics/embed-api-demos/">code on Github</a>.</p>
    </div>
  </section>

  <section class="Partition">
    <div class="Partition-content">

      <nav class="Demos">
        <div class="Demos-column">
          {% for p in site.pages %}{% if p.summary %}{% if forloop.index <= 3 %}
          <a class="Demos-item" href="{{ site.path }}{{ p.url }}">
            <h3>{{ forloop.index }}. {{ p.title }}</h3>
            <p>{{ p.summary }}</p>
          </a>
          {% endif %}{% endif %}{% endfor %}
        </div>
        <div class="Demos-column">
          {% for p in site.pages %}{% if p.summary %}{% if forloop.index > 3 %}
          <a class="Demos-item" href="{{ site.path }}{{ p.url }}">
            <h3>{{ forloop.index }}. {{ p.title }}</h3>
            <p>{{ p.summary }}</p>
          </a>
          {% endif %}{% endif %}{% endfor %}
        </div>
      </nav>

    </div>
  </section>

  <section class="Partition">
    <div class="Partition-content">
      <h2>Next Steps</h2>

      <ul class="NextSteps">
        <li><a href="https://github.com/googleanalytics/embed-api-demos/">Explore the Code</a>
        <li><a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/reference">Read the documentation</a>
        <li><a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/devguide">Build a dashboard</a>
        <li><a href="https://developers.google.com/analytics/devguides/reporting/embed/v1/custom-components">Build a component</a>
      </ul>

    </div>
  </section>

</main>
