{% extends 'user-auth.html' %}

{% block content %}

<div id="account-explorer-react"></div>

{% endblock %}

{% block tech_content %}
The {{ project.title }} uses the <a href="{{ site.tech.embed_api.url }}"> {{ site.tech.embed_api.name }}</a> and the custom <code>ViewSelector2</code> component, which queries the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> under the hood to get a list of all accounts the current user can access.
{% endblock %}

{% block foot_scripts %}
{{ super() }}
<script src="/public/javascript/embed-api/components/view-selector2.js"></script>
<script src="/public/javascript/account-explorer.js"></script>
{% endblock %}
