{% extends 'base.html' %}

{% block content %}

<section>
  <h2>Overview</h2>

  <p><a href="http://www.polymer-project.org/">Polymer</a> is a JavaScript framework for building <a href="http://en.wikipedia.org/wiki/Web_Components">Web Components</a>, which, at their most basic level, are a way to package up styling and functionality into new, custom HTML tags that can be easily reused or shared with others.</p>

  <p>The elements in this demo allow you to build dashboards to report your Google Analytics data without having to write any JavaScript!</p>

  <figure class="Screenshot">
    <a href="{{ project.external.url }}">
      <img
        srcset="/public/images/screenshots/polymer-elements-2x.png 2x"
        src="/public/images/screenshots/polymer-elements.png">
    </a>
    <figcaption>A dashboard built with the Google Analytics Polymer elements.</figcaption>
  </figure>

  <p>Here's what the code looks like to make a chart that displays traffic to your site over the past 30 days:</p>

<pre>
{%- filter forceescape -%}
<google-analytics-chart
  type="area"
  metrics="ga:sessions"
  dimensions="ga:date"
  startDate="30daysAgo"
  endDate="yesterday">
</google-analytics-chart>
{%- endfilter -%}
</pre>

  <p>That's it! It's just a single HTML element with query parameters as its attributes. All the code is packaged behind the scenes so you don't have to deal with it (though a friendly and powerful interface is available to you if you do.)</p>

  <p>To learn more about the various <code>{{ '<google-analytics>' | e }}</code> elements check out the <a href="{{ project.external.url }}">demo</a>, <a href="https://github.com/googlewebcomponents/google-analytics/">code</a>, and <a href="https://elements.polymer-project.org/elements/google-analytics">documentation</a> on Github.</p>

{% endblock %}
</section>

{% block tech_content %}
  The {{ project.title }} demo uses the <a href="{{ site.tech.management_api.url }}">{{ site.tech.management_api.name }}</a> to create the <code>{{ '<google-analytics-view-selector>' | e }}</code> element, and the <a href="{{ site.tech.core_reporting_api.url }}">{{ site.tech.core_reporting_api.name }}</a> to query data and display it via the <code>{{ '<google-analytics-chart>' | e }}</code> element. It also uses the  <a href="{{ site.tech.metadata_api.url }}">{{ site.tech.metadata_api.name }}</a> to translate the dimensions and metrics returned by the Core Reporting API from their code names into nice display names for the user.
{% endblock %}

